<div class="row fixed-bottom">
    <div class="col">
        <div class="alert alert-info mb-0" role="alert">
            MARCELO HERVAS GRANADOS - ({{getAnio}})
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="./assets/js/jquery-3.4.1.slim.min.js"></script>
<script src="./assets/js/popper.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
</body>

</html>