{{>head}}
<div class="container">
    {{>navbar}}
    <div class="row mt-2">
        <div class="col-12 col-md-5">
            <div class="alert alert-secondary my-2" role="alert">
                <p>{{capitalizar 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione libero earum dolor facere vero, amet
                    tempore laborum iusto ex, expedita voluptatem omnis atque mollitia. Commodi, maxime delectus.
                    Eligendi cum, unde nemo molestiae porro nesciunt tempore totam, modi quaerat ut expedita. Commodi, maxime delectus.
                    Eligendi cum, unde nemo molestiae porro nesciunt tempore totam, modi quaerat ut expedita. '}}</p>
            </div>
        </div>
        <div class="col-12 col-md-7 mt-2">
            <img src="./assets/img/fondo.jpg" alt="" class="img-thumbnail" />
        </div>
    </div>
</div>
{{>footer}}